{% extends 'index.html.twig' %}

{% block titre %} Tous les cocktails - {{ parent() }}{% endblock %}

{% block block_principal %}

    <div class="panel">
        <h2 class="text-center"><span class="glyphicon glyphicon-glass"></span> Les cocktails
            <span class="badge">{{ nbCocktail }}</span> </h2>
    </div>

<section class="row">

    <div class="col-xs-12 col-md-12"> {#--------- le fil d'ariane -------#}
        <ul class="breadcrumb">
            <li><a href="cocktails.php">Tout</a></li>

            {% for i in 1..8 %}
                {% if attribute(get, "niveau" ~ i) is defined %}
                    <li>{{ attribute(get, "niveau" ~ i) }}</li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>

    <div clas="row">
        <div class="col-md-3 col-xs-12"> {#---- les huit select pour filtrer les cocktails ----#}

            <form method="post" action="#" name="formulaire">
                <div class="form-group">
                    <select name="niveau1" class="selectpicker">
                        {% for un in hierarchie.Aliment['sous-categorie'] %}
                            <option {% if get.niveau1 == un %} selected {% endif %} value="{{ un }}">{{ un }}</option>
                        {% endfor %}
                    </select>

                    {% for j in 2..8 %}
                        {% if (attribute(get, "niveau"~(j-1)) is defined)
                                and (hierarchie[attribute(get, "niveau"~(j-1))]['sous-categorie'] is defined) %}
                            <select name="niveau{{ j }}" class="selectpicker">
                                {% for deux in hierarchie[attribute(get, "niveau"~(j-1))]['sous-categorie'] %}
                                    <option {% if attribute(get, "niveau"~j) == deux %} selected {% endif %}
                                            value="{{ deux }}">{{ deux }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endfor %}

                </div>
                <input type="submit" name="submit" value="Envoyer" class="btn btn-primary" />
            </form>

        </div>

        {# les vignettes avec les cocktails #}
        <div class="col-md-9 col-xs-12">
            <section class="row" id="super">

            {% for key, re in recettes %}
                <div class="cocktail-out col-xs-4 col-sm-3 col-md-3 dedans">
                    <a href="recette.php?id={{ key }}">
                        <div class="cocktail-in">

                            <div class="col-xs-12">
                                {{ re.titre }}
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}

            </section>
        </div>
    </div>

    <div class="col-md-12 col-xs-12 text-center paginator btn-group">

    </div>
</section>

{% endblock %}


{% block block_scripts %}
    <script>
        $.expr[":"].contains = $.expr.createPseudo(function( text ) {
            return function( elem ) {
                return $(elem).text().toLowerCase().indexOf( text.toLowerCase() ) >= 0;
            };
        });

        $(document).ready(function() {
            pagination(24,'#super .dedans','.paginator',2);
        });

        /*$(document).ready(function () {
            $('#recherche').change(function () {
                var input_content = $.trim($('#recherche').val());
                if (!input_content)
                {
                    $('.dedans').show();
                }
                else
                {
                    //$(".dedans:contains('" + input_content  + "')").show().hide();
                    $('.dedans').show().not(':contains(' + input_content  + ')').hide();
                }
            });
        });*/
    </script>
{% endblock %}
