{% extends 'index.html.twig' %}

{% block titre %} Profile utilisateur - {{ parent() }}{% endblock %}

{% block block_principal %}

<section class="row">
    <h2 class="text-center"><span class="glyphicon glyphicon-user">
            </span> Profile de {{ session.user_courant.pseudo|capitalize }} </h2>

    <div class="well">
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <td> Pseudo </td>
                <td> {{ session.user_courant.pseudo }} </td>
            </tr>
            <tr>
                <td> Nom </td>
                <td> {{ session.user_courant.nom }} </td>
            </tr>
            <tr>
                <td> Prénom </td>
                <td> {{ session.user_courant.prenom }} </td>
            </tr>
            <tr>
                <td> Sexe </td>
                <td> {{ session.user_courant.sexe }} </td>
            </tr>
            <tr>
                <td> Date de naissance </td>
                <td> {{ session.user_courant.naissance }} </td>
            </tr>
            <tr>
                <td> Adresse </td>
                <td> {{ session.user_courant.adresse }} </td>
            </tr>
            <tr>
                <td> Email </td>
                <td> {{ session.user_courant.email }} </td>
            </tr>
            <tr>
                <td> Telephone </td>
                <td> {{ session.user_courant.telephone }} </td>
            </tr>
        </table>
        <a href="editer_profile.php"><span class="glyphicon glyphicon-pencil"></span> Editer son profile</a>
    </div>

</section>

{% endblock %}