{% extends 'index.html.twig' %}

{% block titre %} Profil utilisateur - {{ parent() }}{% endblock %}

{% block block_principal %}

<section class="row">
    <h2 class="text-center"><span class="glyphicon glyphicon-user">
            </span> Profil de {{ session.user_courant.pseudo|capitalize }} </h2>

    <br/>
    <div class="well col-xs-12 col-md-offset-1 col-md-10">
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <th> Pseudo </th>
                <td> {{ session.user_courant.pseudo }} </td>
            </tr>
            <tr>
                <th> Nom </th>
                <td> {{ session.user_courant.nom }} </td>
            </tr>
            <tr>
                <th> Prénom </th>
                <td> {{ session.user_courant.prenom }} </td>
            </tr>
            <tr>
                <th> Sexe </th>
                <td> {{ session.user_courant.sexe }} </td>
            </tr>
            <tr>
                <th> Date de naissance </th>
                <td> {{ session.user_courant.naissance }} </td>
            </tr>
            <tr>
                <th> Adresse </th>
                <td> {{ session.user_courant.adresse }} {{ session.user_courant.codePostal }} {{ session.user_courant.ville }}</td>
            </tr>
            <tr>
                <th> Email </th>
                <td> {{ session.user_courant.email }} </td>
            </tr>
            <tr>
                <th> Telephone </th>
                <td> {{ session.user_courant.telephone }} </td>
            </tr>
        </table>
        <a href="editer_profil.php"><span class="glyphicon glyphicon-pencil"></span> Editer son profil</a>
    </div>

</section>

{% endblock %}