{% extends 'index.html.twig' %}

{% block titre %} Recette - {{ parent() }}{% endblock %}

{% block block_principal %}
    {% set item = recettes[id_recette] %}

    <div class="panel">
        <h2> Recette : {{ item.titre }} </h2>
    </div>

    <section class="container row">
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Ingrédients </h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ item.ingredients|replace({'|':'</li><li class="list-group-item">'})|raw }}
                        </li>
                    </ul>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Préparation </h3>
                    </div>
                    <div class="panel-body">
                        {{ item.preparation }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="visible-xs col-xs-12"> <hr/> </div>
            </div>
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a href="services/ajouter_favori.php?id={{ id_recette }}"> <div data-toggle="modal" href="#infos">
                            <span class="glyphicon glyphicon-star-empty"></span> Ajouter aux favoris </div></a>
                    </div>
                    <div class="panel-body">
                        {% if imageExiste %}
                            <img class="img-responsive" src="Photos/{{ item.titre|replace({' ': '_'}) }}.jpg"
                                 alt="image du cocktail" />
                        {% else %}
                            <img class="img-responsive" src="img/cocktail_icone.jpg" alt="icone cocktail" />
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# fenetre modale pour patienter avant la redirection #}
        <div class="modal" id="infos">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Recette ajoutée aux favoris, patientez...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}


{% block block_scripts %}
    <script>
        $(".envoi").click(timer(0));

        function timer(n) {
            $(".progress-bar").css("width", n + "%");
            if(n < 100) {
                setTimeout(function() {
                    timer(n + 10);
                }, 300);
            }
        }
    </script>
{% endblock %}
